@font-face {
    font-family: 'logo';
    src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'nav';
    src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: 'title';
    src: url(../fonts/Playwrite_GB_J/PlaywriteGBJ-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'text';
    src: url(../fonts/Nerko_One/NerkoOne-Regular.ttf);
}

@font-face {
    font-family: 'button';
    src: url(../fonts/Nova_Mono/NovaMono-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: 'titleText';
    src: url(../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'txt';
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid purple;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo i {
    color: purple;
    font-size: 2.8rem;
    margin-right: 10px;
}

header .logo h4 {
    color: purple;
    text-align: center;
    font-size: 1.5rem;
    font-family: logo;
    line-height: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: nav;
    position: relative;
    display: block;
    padding: 5px 10px;
    color: purple;
    transition: 1s;
}

header nav ul li .check {
    color: white;
    border-bottom: 2px solid white;
}

header nav ul li a::before {
    content: '';
    position: absolute;
    top: -4%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scaleY(1.7);
    transition: 0.5s;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
}

header nav ul li a:hover::before {
    transform: scaleY(1.2);
    opacity: 1;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    background-color: purple;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: scale(0);
    z-index: -1;
}

header nav ul li a:hover::after {
    transform: scale(1);
}

header nav ul li a:hover {
    color: wheat;
    border: none;
}


/*  ############################### section ######################## */
.space {
    width: 100%;
    height: 90px;
}
.hide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.719);
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.hide .content {
    background-color: white;
    width: 800px;
    height: auto;
    color: wheat;
    padding: 15px;
}
.hide .content .b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide .content .b h1 {
    color: purple;
    font-size: 2rem;
    font-family: roboto;
    margin-bottom: 20px;
}
.hide .content .b i {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 50%;
    font-size: 3rem;
}
.hide .content p {
    color: black;
    font-size: 1.2rem;
    font-family: titleText;
    margin-top: 40px;
}
.hide .content .btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.hide .content .btn a {
    color: purple;
    text-decoration: none;
    font-family: button;
    background-color: black;
    padding: 10px 20px;
    transition: all 0.5s ease;
}
.hide .content .btn a:hover {
    background-color: purple;
    color: wheat;
}
.hide .content .info h2 {
    color: black;
    font-family: titleText;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    background-color: black;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 25px;
}


section {
    width: 100%;
    height: auto;
    background-color: black;
}
section .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}
section .card .left {
    width: 50%;
    height: 480px;
    background: url(../imgs-P2/c1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section .card .right {
    padding: 30px;
    width: 50%;
    height: 480px;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section .card .right h1 {
    color: purple;
    font-size: 1.8rem;
    font-family: title;
    margin-top: -28px;
    margin-bottom: 10px;
}
section .card .right h2 {
    color: wheat;
    font-family: titleText;
    font-size: 2rem;
    margin-bottom: 10px;
}
section .card .right table {
    width: 100%;
    height: 90%;
}
section .card .right table tr td :where(input[type='text'], input[type='date'], input[type='time'],
input[type='email'], input[type='tel'])  {
    width: 280px;
    background-color: black;
    height: 50px;
    padding: 2px 10px;
    border: none;
    outline: none;
    color: purple;
    font-size: 1.0rem;
    font-family: txt;
}
section .card .right table tr td :where(input[type='tel'], input[type='email']):enabled {
    background-color: black;
}
section .card .right table tr td :where(input[type='date'], input[type='time']) {
    color: purple;
    text-transform: uppercase;
    }
section .card .right table tr td select {
    width: 280px;
    background-color: black;
    height: 50px;
    padding: 2px 10px;
    border: none;
    outline: none;
    color: purple;
    font-size: 1.0rem;
    font-family: txt;
    }
section .card .right table tr td select option {
        color: wheat;
    }

section .card .right table tr td textarea {
    background-color: black;
    width: 580px;
    border: none;
    outline: none;
    padding: 5px 10px;
    height: 70px;
    color: purple;
    font-size: 1.0rem;
    font-family: txt;
}
section .card .right table tr td input[type='radio'] {
    margin-right: 10px;
    accent-color: purple;
    cursor: pointer;
}
section .card .right table tr td :where(input[type='tel'], input[type='email']:disabled) {
    background-color: rgba(0, 0, 0, 0.7)
}


section .card .right table tr td label {
    color: wheat;
    font-family: txt;
    cursor: pointer;
}
section .card .right table tr td button {
    background-color: black;
    color: purple;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    font-family: txt;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;
}
section .card .right table tr td button:hover {
    background-color: purple;
    color: wheat;
}




/* ######################footer ######################## */

footer {
    width: 100%;
    height: auto;
    padding: 40px 40px 20px;
    background-color: black;
    margin-top: 80px;
    border-top: 1px solid purple;
    box-shadow: 0 -5px 5px purple;
}

footer .list {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: auto;
}

footer .list :where(.b1, .b2, .b3, .b4) {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px;
}

footer .list :where(.b1, .b2, .b3, .b4) h1 {
    text-align: center;
    font-size: 1.8rem;
    color: wheat;
    font-family: title;
    margin-bottom: 15px;
}

footer .list .b1 ul li {
    list-style: none;
}

footer .list .b1 ul li a {
    list-style: none;
    color: wheat;
    text-decoration: none;
    line-height: 150%;
    font-family: roboto;
    font-size: 1.2rem;
}

footer .list .b1 ul li a:hover {
    color: purple;
}

footer .list ul li a i {
    color: wheat;
    font-size: 0.8rem;
    margin-right: 5px;
}

footer .list .b2 ul li {
    list-style: none;
    color: wheat;
    font-family: roboto;
    line-height: 160%;
    font-size: 1.2rem;
}

footer .list .b2 ul li i {
    margin-right: 5px;
    font-size: 1rem;
}

footer .list .b3 h2 {
    color: wheat;
    font-family: roboto;
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 20px;
}

footer .list .b3 h2 span {
    font-size: 1.0rem;
}

footer .list .b4 p {
    color: wheat;
    font-family: roboto;
    margin-bottom: 15px;
    line-height: 140%;
    text-align: start;
}

footer .list .b4 .box {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid purple;
    position: relative;
}

footer .list .b4 .box input {
    width: 70%;
    height: 40px;
    color: wheat;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 10px;
    font-style: italic;
    font-family: sans-serif;
    font-size: 1.0rem;
}

footer .list .b4 .box button {
    background-color: purple;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: wheat;
    font-family: roboto;
    cursor: pointer;
    font-size: 1.0rem;
}

footer .list .b4 .box i {
    color: white;
    position: absolute;
    right: -50px;
    font-size: 2rem;
    background-color: green;
    border-radius: 50%;
    padding: 6px;
    display: none;
}

footer hr {
    border: none;
    outline: none;
    background-color: rgba(245, 222, 179, 0.442);
    width: 100%;
    height: 3px;
    margin: 20px 0;
    border-radius: 50px;
}

footer p {
    color: white;
    font-family: roboto;
    font-size: 0.9rem;
    line-height: 160%;
    text-align: center;
}